## 1. Import Libraries

In [1]:
import pandas as pd
import numpy as np
import altair as alt

## 2. Import raw data

In [2]:
raw = pd.read_csv('../../data/raw/player_stats.csv')
raw.head()

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0

In [3]:
raw.columns

Index(['Unnamed: 0', 'Year', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP',
       'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%',
       'BLK%', 'TOV%', 'USG%', 'blanl', 'OWS', 'DWS', 'WS', 'WS/48', 'blank2',
       'OBPM', 'DBPM', 'BPM', 'VORP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%',
       '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB',
       'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

## 3. Select some columns of data

In [4]:
player = raw[['Player', 'Year', 'Pos', 'Tm', 'G',
             'FG%', 'FT%', '3P%', 'ORB%', 'AST%', 
             'BLK%', 'DRB%', 'STL%'
            ]]

In [5]:
player.head()

,Player,Year,Pos,Tm,G,FG%,FT%,3P%,ORB%,AST%,BLK%,DRB%,STL%
0,Curly Armstrong,1950.0,G-F,FTW,63.0,0.279,0.705,NaN,NaN,NaN,NaN,NaN,NaN
1,Cliff Barker,1950.0,SG,INO,49.0,0.372,0.708,NaN,NaN,NaN,NaN,NaN,NaN
2,Leo Barnhorst,1950.0,SF,CHS,67.0,0.349,0.698,NaN,NaN,NaN,NaN,NaN,NaN
3,Ed Bartels,1950.0,F,TOT,15.0,0.256,0.559,NaN,NaN,NaN,NaN,NaN,NaN
4,Ed Bartels,1950.0,F,DNN,13.0,0.256,0.548,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
player.tail()

,Player,Year,Pos,Tm,G,FG%,FT%,3P%,ORB%,AST%,BLK%,DRB%,STL%
24686,Cody Zeller,2017.0,PF,CHO,62.0,0.571,0.679,0.000,8.6,9.1,3.0,17.3,1.8
24687,Tyler Zeller,2017.0,C,BOS,51.0,0.494,0.564,0.000,9.2,12.2,3.3,17.0,0.7
24688,Stephen Zimmerman,2017.0,C,ORL,19.0,0.323,0.600,NaN,10.8,5.3,3.7,24.9,0.9
24689,Paul Zipser,2017.0,SF,CHI,44.0,0.398,0.775,0.333,1.9,6.1,1.5,14.2,0.9
24690,Ivica Zubac,2017.0,C,LAL,38.0,0.529,0.653,0.000,7.1,8.1,4.4,21.9,1.1

In [7]:
player.shape

(24691, 13)

## 4. Drop NA data

In [8]:
player = player.dropna()
player

,Player,Year,Pos,Tm,G,FG%,FT%,3P%,ORB%,AST%,BLK%,DRB%,STL%
5727,Kareem Abdul-Jabbar*,1980.0,C,LAL,82.0,0.604,0.765,0.000,7.2,16.5,4.6,22.2,1.2
5728,Tom Abernethy,1980.0,PF,GSW,67.0,0.481,0.683,0.000,5.4,9.3,0.6,12.0,1.4
5729,Alvan Adams,1980.0,C,PHO,75.0,0.531,0.797,0.000,8.2,21.6,1.4,22.4,2.3
5730,Tiny Archibald*,1980.0,PG,BOS,80.0,0.482,0.830,0.222,2.3,30.2,0.2,5.3,1.7
5732,Gus Bailey,1980.0,SG,WSB,20.0,0.457,0.385,1.000,3.3,17.8,1.2,12.4,1.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24685,Thaddeus Young,2017.0,PF,IND,74.0,0.527,0.523,0.381,6.7,8.4,1.2,15.8,2.6
24686,Cody Zeller,2017.0,PF,CHO,62.0,0.571,0.679,0.000,8.6,9.1,3.0,17.3,1.8
24687,Tyler Zeller,2017.0,C,BOS,51.0,0.494,0.564,0.000,9.2,12.2,3.3,17.0,0.7
24689,Paul Zipser,2017.0,SF,CHI,44.0,0.398,0.775,0.333,1.9,6.1,1.5,14.2,0.9
24690,Ivica Zubac,2017.0,C,LAL,38.0,0.529,0.653,0.000,7.1,8.1,4.4,21.9,1.1

## 5. Change to appropriate column names

In [9]:
player = player.rename(columns={'Player':'Name','Tm':'Team','G':'Game',
             'FG%':'FGp', 'FT%':'FTp', '3P%':'3Pp', 'ORB%':'ORBp', 'AST%':'ASTp', 
             'BLK%':'BLKp', 'DRB%':'DRBp', 'STL%':'STLp'
            })
player

,Name,Year,Pos,Team,Game,FGp,FTp,3Pp,ORBp,ASTp,BLKp,DRBp,STLp
5727,Kareem Abdul-Jabbar*,1980.0,C,LAL,82.0,0.604,0.765,0.000,7.2,16.5,4.6,22.2,1.2
5728,Tom Abernethy,1980.0,PF,GSW,67.0,0.481,0.683,0.000,5.4,9.3,0.6,12.0,1.4
5729,Alvan Adams,1980.0,C,PHO,75.0,0.531,0.797,0.000,8.2,21.6,1.4,22.4,2.3
5730,Tiny Archibald*,1980.0,PG,BOS,80.0,0.482,0.830,0.222,2.3,30.2,0.2,5.3,1.7
5732,Gus Bailey,1980.0,SG,WSB,20.0,0.457,0.385,1.000,3.3,17.8,1.2,12.4,1.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24685,Thaddeus Young,2017.0,PF,IND,74.0,0.527,0.523,0.381,6.7,8.4,1.2,15.8,2.6
24686,Cody Zeller,2017.0,PF,CHO,62.0,0.571,0.679,0.000,8.6,9.1,3.0,17.3,1.8
24687,Tyler Zeller,2017.0,C,BOS,51.0,0.494,0.564,0.000,9.2,12.2,3.3,17.0,0.7
24689,Paul Zipser,2017.0,SF,CHI,44.0,0.398,0.775,0.333,1.9,6.1,1.5,14.2,0.9
24690,Ivica Zubac,2017.0,C,LAL,38.0,0.529,0.653,0.000,7.1,8.1,4.4,21.9,1.1

## 6. Change unit of year to be integer

In [10]:
player['Year'] = player['Year'].astype(int)
player

,Name,Year,Pos,Team,Game,FGp,FTp,3Pp,ORBp,ASTp,BLKp,DRBp,STLp
5727,Kareem Abdul-Jabbar*,1980,C,LAL,82.0,0.604,0.765,0.000,7.2,16.5,4.6,22.2,1.2
5728,Tom Abernethy,1980,PF,GSW,67.0,0.481,0.683,0.000,5.4,9.3,0.6,12.0,1.4
5729,Alvan Adams,1980,C,PHO,75.0,0.531,0.797,0.000,8.2,21.6,1.4,22.4,2.3
5730,Tiny Archibald*,1980,PG,BOS,80.0,0.482,0.830,0.222,2.3,30.2,0.2,5.3,1.7
5732,Gus Bailey,1980,SG,WSB,20.0,0.457,0.385,1.000,3.3,17.8,1.2,12.4,1.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24685,Thaddeus Young,2017,PF,IND,74.0,0.527,0.523,0.381,6.7,8.4,1.2,15.8,2.6
24686,Cody Zeller,2017,PF,CHO,62.0,0.571,0.679,0.000,8.6,9.1,3.0,17.3,1.8
24687,Tyler Zeller,2017,C,BOS,51.0,0.494,0.564,0.000,9.2,12.2,3.3,17.0,0.7
24689,Paul Zipser,2017,SF,CHI,44.0,0.398,0.775,0.333,1.9,6.1,1.5,14.2,0.9
24690,Ivica Zubac,2017,C,LAL,38.0,0.529,0.653,0.000,7.1,8.1,4.4,21.9,1.1

## 7. Average duplicates statistics

In [11]:
player = player.groupby(['Name', 'Year']).mean().round(2).reset_index()

/var/folders/lb/tczlgg_s0gg29__46vp8shf80000gn/T/ipykernel_6631/1204731244.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby(['Name', 'Year']).mean().round(2).reset_index()

In [12]:
player.head()

         Name  Year  Game   FGp   FTp   3Pp  ORBp  ASTp  BLKp  DRBp  STLp
0  A.C. Green  1986  82.0  0.54  0.61  0.17  12.4   4.2   1.7  15.5   1.5
1  A.C. Green  1987  79.0  0.54  0.78  0.00  11.2   4.6   2.0  18.8   1.5
2  A.C. Green  1988  82.0  0.50  0.77  0.00  11.1   4.5   1.0  19.1   1.6
3  A.C. Green  1989  82.0  0.53  0.79  0.24  12.3   5.5   1.2  20.0   1.8
4  A.C. Green  1990  82.0  0.48  0.75  0.28  11.5   4.6   1.1  18.4   1.2

In [13]:
player.tail()

,Name,Year,Game,FGp,FTp,3Pp,ORBp,ASTp,BLKp,DRBp,STLp
12785,Zydrunas Ilgauskas,2007,78.0,0.48,0.81,0.00,12.9,10.2,3.6,20.0,1.2
12786,Zydrunas Ilgauskas,2008,73.0,0.47,0.80,0.00,13.1,8.5,4.3,22.2,0.8
12787,Zydrunas Ilgauskas,2009,65.0,0.47,0.80,0.38,11.0,6.4,3.8,21.6,0.9
12788,Zydrunas Ilgauskas,2010,64.0,0.44,0.74,0.48,10.7,5.6,2.9,19.6,0.5
12789,Zydrunas Ilgauskas,2011,72.0,0.51,0.78,0.00,11.9,3.6,4.0,17.5,1.1

## 8. Remove * in Name

In [14]:
player['Name'] = player['Name'].str.replace('*','')

/var/folders/lb/tczlgg_s0gg29__46vp8shf80000gn/T/ipykernel_6631/312778356.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  player['Name'] = player['Name'].str.replace('*','')

In [15]:
player['Name'].unique()

array(['A.C. Green', 'A.J. English', 'A.J. Guyton', ..., 'Zoran Dragic',
       'Zoran Planinic', 'Zydrunas Ilgauskas'], dtype=object)

In [16]:
# player[player['Name'].str.contains('*')]

In [17]:
# player['Name'].str.contains('*')

In [18]:
player.head()

         Name  Year  Game   FGp   FTp   3Pp  ORBp  ASTp  BLKp  DRBp  STLp
0  A.C. Green  1986  82.0  0.54  0.61  0.17  12.4   4.2   1.7  15.5   1.5
1  A.C. Green  1987  79.0  0.54  0.78  0.00  11.2   4.6   2.0  18.8   1.5
2  A.C. Green  1988  82.0  0.50  0.77  0.00  11.1   4.5   1.0  19.1   1.6
3  A.C. Green  1989  82.0  0.53  0.79  0.24  12.3   5.5   1.2  20.0   1.8
4  A.C. Green  1990  82.0  0.48  0.75  0.28  11.5   4.6   1.1  18.4   1.2

In [19]:
player.tail()

,Name,Year,Game,FGp,FTp,3Pp,ORBp,ASTp,BLKp,DRBp,STLp
12785,Zydrunas Ilgauskas,2007,78.0,0.48,0.81,0.00,12.9,10.2,3.6,20.0,1.2
12786,Zydrunas Ilgauskas,2008,73.0,0.47,0.80,0.00,13.1,8.5,4.3,22.2,0.8
12787,Zydrunas Ilgauskas,2009,65.0,0.47,0.80,0.38,11.0,6.4,3.8,21.6,0.9
12788,Zydrunas Ilgauskas,2010,64.0,0.44,0.74,0.48,10.7,5.6,2.9,19.6,0.5
12789,Zydrunas Ilgauskas,2011,72.0,0.51,0.78,0.00,11.9,3.6,4.0,17.5,1.1

## 9. Check the clean data

In [20]:
player.shape

(12790, 11)

In [21]:
player['Name'].nunique()

2415

## 10. Try visualization

In [22]:
player_A = 'LeBron James'
player_B = 'Kobe Bryant'

In [23]:
filter_player = player.loc[(player['Name']==player_A) | (player['Name']==player_B)]
filter_player

              Name  Year  Game   FGp   FTp   3Pp  ORBp  ASTp  BLKp  DRBp  STLp
7160   Kobe Bryant  1997  71.0  0.42  0.82  0.38   4.9  13.8   1.6   8.7   2.3
7161   Kobe Bryant  1998  79.0  0.43  0.79  0.34   4.5  16.0   1.3   8.7   1.8
7162   Kobe Bryant  1999  50.0  0.46  0.84  0.27   3.3  17.5   1.9  12.7   2.0
7163   Kobe Bryant  2000  66.0  0.47  0.82  0.32   4.6  22.4   1.7  12.9   2.2
7164   Kobe Bryant  2001  68.0  0.46  0.85  0.30   4.3  23.0   1.1  11.8   2.1
7165   Kobe Bryant  2002  80.0  0.47  0.83  0.25   4.1  25.9   0.8  11.7   2.0
7166   Kobe Bryant  2003  82.0  0.45  0.84  0.38   3.5  27.2   1.4  15.3   2.8
7167   Kobe Bryant  2004  65.0  0.44  0.85  0.33   4.7  24.4   0.8  12.0   2.4
7168   Kobe Bryant  2005  66.0  0.43  0.82  0.34   4.0  28.5   1.4  12.4   1.7
7169   Kobe Bryant  2006  80.0  0.45  0.85  0.35   2.6  24.1   0.7  12.7   2.4
7170   Kobe Bryant  2007  77.0  0.46  0.87  0.34   2.8  25.5   0.9  13.5   1.8
7171   Kobe Bryant  2008  82.0  0.46  0.84  0.36   3.4  23.9   0.9  14.1   2.4
7172   Kobe Bryant  2009  82.0  0.47  0.86  0.35   3.5  23.8   1.0  12.8   2.1
7173   Kobe Bryant  2010  73.0  0.46  0.81  0.33   3.1  23.8   0.5  12.2   2.1
7174   Kobe Bryant  2011  82.0  0.45  0.83  0.32   3.5  26.7   0.3  13.3   1.9
7175   Kobe Bryant  2012  58.0  0.43  0.84  0.30   3.5  23.7   0.6  11.8   1.6
7176   Kobe Bryant  2013  78.0  0.46  0.84  0.32   2.5  29.7   0.6  13.1   1.8
7177   Kobe Bryant  2014   6.0  0.42  0.86  0.19   1.2  34.6   0.4  14.5   1.9
7178   Kobe Bryant  2015  35.0  0.37  0.81  0.29   2.3  29.9   0.5  16.5   2.0
7179   Kobe Bryant  2016  66.0  0.36  0.83  0.28   2.3  19.1   0.5  12.3   1.7
7517  LeBron James  2004  79.0  0.42  0.75  0.29   3.5  27.8   1.3  11.8   2.2
7518  LeBron James  2005  80.0  0.47  0.75  0.35   3.8  32.9   1.1  17.0   2.8
7519  LeBron James  2006  79.0  0.48  0.74  0.34   2.6  32.8   1.5  17.1   2.0
7520  LeBron James  2007  78.0  0.48  0.70  0.32   3.0  29.1   1.3  16.6   2.1
7521  LeBron James  2008  75.0  0.48  0.71  0.32   4.9  37.3   2.1  17.8   2.4
7522  LeBron James  2009  81.0  0.49  0.78  0.34   4.3  38.0   2.4  19.0   2.4
7523  LeBron James  2010  76.0  0.50  0.77  0.33   3.0  41.8   2.0  18.5   2.2
7524  LeBron James  2011  79.0  0.51  0.76  0.33   3.3  34.9   1.3  18.7   2.1
7525  LeBron James  2012  62.0  0.53  0.77  0.36   5.0  33.6   1.7  19.7   2.6
7526  LeBron James  2013  76.0  0.56  0.75  0.41   4.4  36.4   1.9  20.8   2.4
7527  LeBron James  2014  77.0  0.57  0.75  0.38   3.6  32.0   0.8  18.9   2.2
7528  LeBron James  2015  69.0  0.49  0.71  0.35   2.4  38.6   1.6  16.6   2.3
7529  LeBron James  2016  76.0  0.52  0.73  0.31   4.7  36.0   1.5  18.8   2.0
7530  LeBron James  2017  74.0  0.55  0.67  0.36   4.0  41.3   1.3  20.7   1.6

In [24]:
x_min=filter_player['Year'].min()
x_max=filter_player['Year'].max()

In [25]:
selection = 'FGp'

In [26]:
# Create chart
chart_off = alt.Chart(filter_player).mark_point().encode(
    x = alt.X('Year',scale=alt.Scale(domain=(x_min, x_max))),
    y = selection,
    color = alt.Color('Name', title='Player'),
    tooltip=alt.Tooltip(['Name', 'Year', selection])
)
chart_off

alt.Chart(...)

## 11. Save clean data

In [27]:
player.to_csv('../../data/processed/player_stats_clean.csv')